h1 {
    color: #9a3bff;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 40px;
    display: inline-block;
}

.product-name {
    display: flex;
    justify-content: space-between;
}

.ratings-Box {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.ratings-text {
    color: #ffffff;
    margin-top: .5rem;
    margin-left: .5rem;
}

h3 {
    color: #ffffff;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
}

h2 {
    color: #ffffff;
    margin-top: 10px;
    font-weight: 800;
    font-size: 29px;
}

h4 {
    display: inline-block;
    color: #ffffff;

    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

h4.dis {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    font-size: 17px;
    margin-left: 30px;
    text-decoration: line-through #ea3201;
}

h4.dis span {
    text-decoration: line-through #ea3201;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 25px;
}

ul li {
    color: #ffffff;
    margin-top: 20px;
    font-weight: 500;
    font-size: 11px;
}

.card-container {
    padding: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.left {
    content: "";
    height: 400px;
    width: 330px;
    display: flex;
    align-items: center;
    background-color: #723cacf8;
    margin-right: 35rem;
    position: absolute;
    border-radius: 5px;
    z-index: 5;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.product-details-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.product-image {
    padding: 1rem;
    height: 20rem;
    width: 17rem;
    margin-left: 1rem;
}

.product-carousel-container {
    margin-top: 28rem;
    width: 50rem;
    height: 50rem;
}

.right {
    content: "";
    height: 600px;
    width: 850px;
    z-index: 3;
    margin-left: 15rem;
    background: #000;
    backdrop-filter: blur(24px) saturate(143%);
    -webkit-backdrop-filter: blur(24px) saturate(143%);
    background-color: rgba(39, 39, 39, 0.591);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.product-info {
    position: absolute;
    margin-left: 245px;
    height: 400px;
    width: 550px;
    z-index: 10;
}

.product_size_text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.product_size {
    font-weight: bold;
    padding: 0.5rem .8rem;
    font-size: 8px;
    border: 1px solid #ffffff;
}

.product_size:hover {
    background-color: #ffffff;
    color: #000;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.cart-container {
    margin: 1rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}



.add-to-cart-container span {
    color: #000;
    font-size: 1rem;
    font-weight: bolder;
    padding: .5rem 1rem;
    background-color: #ffff;
    cursor: pointer;
    border-radius: 50%;
}

.add-to-cart-container span:hover {
    background-color: #9a3bff;
    transition: all ease-in-out .4s;
}

.add-to-cart-container input {
    text-align: center;
    padding: 1rem -2rem;
    color: #fff;
    font-size: 2rem;
    font-weight: bolder;
    padding: 0rem 1rem;
    background-color: transparent;
    font-size: 1rem;
    max-width: 5rem;
    min-height: 4rem;
}


.stock {
    font-size: 20px;
    font-weight: 500;
    margin-top: 2rem;
}

.stock-count {
    color: green;
    font-size: 1.5rem;
}

.stock-out {
    color: red;
    font-size: 1.5rem;
}

.price-count {
    font-size: 1.5rem;
}

.foot-img {
    width: 1.5rem;
    height: 1.5rem;
}

.foot {
    display: flex;
    gap: 1rem;
    padding: .8rem .7rem;
}

.product-reviews {
    margin: 1vmax;
    color: #fff;
    font: 400;
    font-size: 30px;
    border-bottom: 2px solid aqua;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.review-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: scroll;
    padding: 1rem;
    margin-bottom: 5rem;
}

.review-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 17rem;
    max-width: 20rem;
    min-height: 5rem;
    padding: 1rem;
    margin: 0rem 2rem;
    backdrop-filter: blur(24px) saturate(143%);
    -webkit-backdrop-filter: blur(24px) saturate(143%);
    background-color: #46464664;
    border-radius: 25px;
    border: 1px solid rgba(209, 213, 219, 0.845);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.reviewer-icon {
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    border-radius: 50%;
    background: rgb(67, 67, 67);
    border: 1px solid rgb(0, 0, 0);
}

.reviewer-name {
    margin-top: .5rem;
    font-size: 1rem;
    color: #ffff;
}

.reviewer-ratings {
    color: #ffffff;
}

.reviewer-comment {
    color: #ffff;
}

.cart-quantity {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.quantity-input {
    width: 50px;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    text-align: center;
    color: #333;
}

.quantity-btn {
    background-color: transparent;
    color: #333;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 8px;
    font-size: 20px;
}

.quantity-btn:hover {
    color: #9a3bff;
}

.quantity-btn:active {
    transform: scale(1.1);
}


@media (max-width: 992px) {
    .product-info {
        margin-left: 200px;
    }
}

@media (max-width: 850px) {
    .card-container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .left {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-right: 13rem;
        position: relative;
        top: 3rem;
        border-radius: 5px;
        z-index: 5;
    }

    .right {
        height: 550px;
        width: 450px;
        background-color: #2a2f40;
        z-index: 3;
        position: relative;
        right: 13rem;
        margin-left: 200px;
        box-shadow: 0px 0px 15px #1f222e;
    }

    .product-info {
        position: absolute;
        margin-left: 100px;
        height: 400px;
        width: 305px;
        z-index: 10;
        margin: 4rem;
    }

    .product-carousel-container {
        margin-top: 1.5rem;
        width: 50rem;
        height: 50rem;
    }

}