.page-container {
    padding-top: 7rem;

}

.card {
    margin-bottom: 5rem;
    background: #000;
    backdrop-filter: blur(24px) saturate(143%);
    -webkit-backdrop-filter: blur(24px) saturate(143%);
    background-color: rgba(39, 39, 39, 0.591);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#9151d5f8), to(#ff32ee));
    background: linear-gradient(to right, #ff1aec, #723cacf8);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
    margin-top: 1rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.your-profile {
    color: #ffff;
    font-size: 1.8rem;
    display: flex;
    gap: 1rem;
}


.user-name {
    font-size: 1.7rem;
    color: #ffff;
}

.edit-profile {
    margin-top: .2rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: rgb(67, 67, 67);
    border: 1px solid rgb(0, 0, 0);
    padding: .5rem;
    cursor: pointer;
}

.edit-profile:hover {
    background: rgb(0, 0, 0);
    transition: all ease-in-out .3s;
}

.img-radius {
    border-radius: 50%;
}

h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

.profile-button-container {
    margin-top: 3rem;
    display: flex;
    justify-content: end;
    gap: 2rem;
    margin-right: 1rem;
    padding: 1rem;
}

.logout-image {
    width: 42px;
    height: 42px;
    background: rgb(67, 67, 67);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgb(0, 0, 0);
    filter: saturate(100%);
    padding: .5rem;
    cursor: pointer;
}

.logout-image:hover {
    background: rgb(0, 0, 0);
    transition: all ease-in-out .4s;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
    color: #ffff;
    letter-spacing: 1px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.user-name {
    font-weight: 600;
    letter-spacing: 2px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
    margin-top: 1rem;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}